.wrapper {
	display: block;
	margin: 0px auto 0px auto; /*centers everything to the window width*/
	padding: 12px 12px 12px 12px;
	max-width: 296px;
}



h1 { color: #00adee; margin: 12px 0px; }
h2 { color: #333; font-size: 1.25em; }
h3 { color: #777; font-size: 1.0em; }
h4 { color: #00adee; margin: 6px 0px 12px 0px;}
p {  color: #555; line-height: 1.5em; font-size: 0.875em; }




#resetPasswordDiv {
	text-align: center;
	margin: 0px auto;
	width: inherit;
	background-color: #FFF;
	border-radius: 10px;
	/*shadows*/
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; /* For IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); /* For IE 5.5 - 7 */
}
#resetPassword {
	padding: 12px;
}
#resetSent {
	display: none;
	text-align: center;
	margin: 64px auto;
	padding: 12px;
	max-width: 320px;
}
#resetSuccess {
	padding: 12px;
}
form input {
	text-align: center;
}

@media only screen and (max-width : 664px) {
	
}