.wrapper {
	clear: both;
	display: block;
	margin: 0px auto 0px auto; /*centers everything to the window width*/
	padding: 12px 12px 12px 12px;
	max-width: 960px;
}
#article { /*everything on the left side*/
	display: table-cell;
	width: 100%;
	padding-right: 12px;
	vertical-align: top;
}
#aside { display: table-cell; min-width: 308px; } /*everying in the right side*/
#welcomeUser { font-size: 1.25em; font-weight: bold; color: #00adee; }
#slideShow img {
	max-height: 360px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
h1 { color: #00adee; margin: 12px 0px;}
h2 { color: #333; font-size: 1.25em; }
h3 { color: #777; font-size: 1.0em; }
h4 { color: #00adee; margin: 6px 0px 6px 0px;}
p {  color: #555; line-height: 1.5em; text-align: justify; font-size: 0.875em; }
/*this is for the board/forum system preview*/
.board { display: block; }
.post {
	background-color: #E5E5E5;
	margin: 0px;
	padding: 2px 0px;
	font-style: italic;
	overflow: hidden;
	font-size: .875em;
	line-height: 1.25em;
}
.post a { color: #333; }
.post:nth-child(odd){ background-color: transparent; }
.postTitle { float: left; }
.postTime {	float: right; }
.readMore { float: right; font-weight: bold; }
/*this is for the video and news feeds*/
.newsInfo {
	margin: 12px 0px 0px 0px;
	font-style: italic;
	overflow: hidden;
	font-size: 0.75em;
	line-height: 1.25;
}
.newsImage{ float: left; margin: 6px 12px 0px 0px; height: 128px; }
.date { float: left; text-decoration: none; }
.comments{ float: right; text-decoration: none; }

/*Tip of the Week*/
.tipOfTheWeek {
	display: table-cell;
	min-width: 208px;
}
.tipOfTheWeek div {
	margin: 12px 0px 6px 0px;
	background-color: #FFF;
	text-align: center;
}
.tipOfTheWeek div strong {
	color: #FF0000;
}
.tipOfTheWeek div h1 {
	text-align: left;
	display: block;
	background-color: #333;
	padding: 16px 16px 0px 16px;
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
.tipOfTheWeek div h2 {
	text-align: left;
	display: block;
	background-color: #333;
	padding: 6px 16px 16px 16px;
	margin: 0px 0px 16px 0px;
	font-size: 12px;
	font-weight: bold;
	color: #CCCCCC;
}
.tipOfTheWeek div ul {
	padding: 0px 16px 16px 16px;
}
.tipOfTheWeek div li {
	text-align: left;
	padding: 8px 0px 8px 0px;
	/*border-bottom: 1px dashed #CCCCCC;*/
	display: block;
	font-size: 14px;
	color: #777;
}

/*this is for the side video lineup*/

.vDiv {
	overflow: hidden;
	display: inline-block;
	text-align: center;
	float: left;
	max-width: 100%;
	min-height: 32px;
}
.vSample {
	width: 99%;
}
.vTitle {
	margin: 0px auto;
	display: block;
	color: #00adee;
	font-size: 12px;
	font-weight: bold;
	width: 75%;
}
.vViews {
	display: inline-block;
	color: #555;
	font-size: 12px;
}
.vTime {
	display: inline-block;
	color: #777;
	font-size: 12px;
}

@media only screen and (max-width : 640px) {
	#article{ padding: 0px; }
	#aside { display: inline; }
	#aside div { margin-left: 0px;}
	.vDiv {	max-width: 50%;	}
}