.wrapper {
	display: block;
	margin: 0px auto 0px auto; /*centers everything to the window width*/
	padding: 12px 12px 12px 12px;
	max-width: 640px;
}
h1 { color: #00adee; margin: 12px 0px 6px 0px; }
h2 { color: #333; font-size: 1.25em; }
h3 { color: #777; font-size: 1.0em; margin: 0px 0px 12px 0px; }
h4 { color: #00adee; margin: 6px 0px 12px 0px; }
p {  color: #555; line-height: 1.5em; text-align: justify; font-size: 0.875em; }


.logDiv {
	width: inherit;
	background-color: #FFF;
	border-radius: 10px;
	/*shadows*/
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; /* For IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); /* For IE 5.5 - 7 */
}
.logDiv a { text-decoration: none; font-size: 0.75em; font-weight: bold;}

/*Login styles*/
.logIn {
	width: 50%;
	padding: 12px;
	display: table-cell;
	border-right: 1px solid #CCC;
}

/*Registration styles*/
.register {
	width: 50%;
	padding: 12px;
	display: table-cell;
	border-top: none;
}
#logInFacebook {
	background-image: url("../img/signInFacebook.png");
	display: inline-block;
	width: 168px;
	height: 30px;
	margin: 12px 0px;
}

@media only screen and (max-width : 664px) { /* 640 + (padding * 2)  */
	.wrapper{ width: 296px; } /*   (320 - (padding * 2))   */
	.logIn{ width: 272px; display: block; border-right: none; } /*  (wrapper - (padding * 2)) */
	.register { width: 272px; display: block; border-top: 1px solid #CCC; }
}