/*questions.css.scss*/

.wrapper {
	display: block;
	margin: 0px auto 0px auto; /*centers everything to the window width*/
	padding: 12px 12px 12px 12px;
	max-width: 640px;
}
h1 { color: #00adee; margin: 12px 0px 6px 0px; }
h2 { color: #333; font-size: 1.25em; }
h3 {  font-size: 1.0em; margin: 0px 0px 6px 0px; display: inline-block; }
h4 { color: #00adee; margin: 0px 0px 6px 0px;  }
p {  color: #555; line-height: 1.5em; text-align: justify; font-size: 0.875em; }

.postQuestions { /*contains all the comments*/
	width: 100%;
	display: block;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; /* For IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); /* For IE 5.5 - 7 */
}
.postQuestion a { text-decoration: none; }
.postQuestion { /*styles each comment individually*/
	overflow: auto;
	display: block;
	background-color: #FFF;
	padding: 12px;
}
.postQuestion:nth-child(even){ background-color: #F2F9FF; }
.postQuestion:hover {
	background-color: #FFE8D8;
}
.postQuestionMessage {
	font-size: 0.75em;
	font-weight: bold;
	display: block;
	padding: 0px 0px 2px 0px;
	color: #999;
}
.postQuestionComments{
	font-size: .75em;
	font-weight: bold;
	color: #333;
	padding: 0px 0px;
	text-decoration: none;
}
.postQuestionUser{
	font-size: .75em;
	font-weight: bold;
	color: #00adee;
	padding: 0px 0px;
	text-decoration: none;
}
.postQuestionSolved{
	font-size: .75em;
	font-weight: bold;
	color: #333;
	padding: 4px 0px 0px 0px;
	text-decoration: none;
	float: right;
}
.postQuestionSolvedIcon{
	float: right;
	width: 12px;
	height: 12px;
	background-image: url("../img/solved.png");
	margin: 2px 0px 0px 4px;
	display: block;
}
.postQuestionUnSolvedIcon{
	float: right;
	width: 12px;
	height: 12px;
	background-image: url("../img/unsolved.png");
	margin: 2px 0px 0px 4px;
	display: block;
}
.questionIcon {
	width: 24px;
	height: 24px;
	background-image: url("../img/question.png");
	margin: 0px 4px 4px 0px;
	display: inline-block;
}
.notificationIcon {
	width: 24px;
	height: 24px;
	background-image: url("../img/notification.png");
	margin: 0px 4px 4px 0px;
	display: inline-block;
}
.postQuestionReply:active { color: #00adee; }
.postQuestionTime{
	float: right;
	font-size: .75em;
	color: #999;
}
.postQuestionTitle {
	color: #00adee;
	font-size: 1em;
	font-weight: bold;
	vertical-align: top;
	display: inline-block;
	margin: 5px 0px;
}

@media only screen and (max-width : 664px) { /* 640 + (padding * 2)  */
	
}