.wrapper {
	display: block;
	margin: 0px auto 0px auto; /*centers everything to the window width*/
	padding: 12px 12px 12px 12px;
	max-width: 640px;
	min-width: 296px;
}



h1 { color: #00adee; margin: 12px 0px 6px 0px; }
h2 { color: #333; font-size: 1.25em; margin: 0px 0px 6px 0px; }
h3 { color: #777; font-size: 1.0em; }
h4 { color: #00adee; margin: 6px 0px 12px 0px;}
p {  color: #555; line-height: 1.5em; font-size: 0.875em; }

.vIndex {
	margin: 0px 0px 6px 0px;
	border-radius: 10px;
	background-color: #FFF;
	padding: 12px;
	overflow: hidden;
	width: auto;
}
.vDiv {
	overflow: hidden;
	display: inline-block;
	text-align: center;
	float: left;
	max-width: 33.33333334%;
	min-height: 32px;
}
.vSample {
	width: 95%;
}
.vTitle {
	margin: 0px auto;
	display: block;
	color: #00adee;
	font-size: 12px;
	font-weight: bold;
	width: 90%;
}
.vViews {
	display: inline-block;
	color: #555;
	font-size: 12px;
}
.vTime {
	display: inline-block;
	color: #777;
	font-size: 12px;
}


@media only screen and (max-width : 664px) {
	/*.wrapper { width: 296px; } /*   (320 - (padding * 2))   */
	.vDiv {
		max-width: 50%;
	}
}